:host{

  .form-busca {
    margin: 40px 0;
    display: block;

    h2 {
      font-size: 32px;
      margin-bottom: 20px;
    }

    .flex-container {
      display: flex;
      align-items: center;
      gap: 12px;
      margin: 16px 0;

      mat-chip-set{
        button{
          margin-left: 10px;
        }
      }

      .btnselecao{
        background-color: #dae2f9;
        color: black;
        border: 1px solid gray;
      }
    }

  }
}
