<app-container>
  <app-card variant="secondary" class="form-busca">
    <h2>Passagens</h2>
    <form [formGroup]="formBuscaService.formBusca" >
      <div class="flex-container">
        <mat-button-toggle-group aria-label="Tipo de Passagem" formControlName="formaViagem" >
          <mat-button-toggle value="IDA E VOLTA">IDA E VOLTA</mat-button-toggle>
          <mat-button-toggle value="SOMENTE IDA">SOMENTE IDA</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-chip-listbox (click)="openDialog()" aria-label="Seleção de Passagens" >
          <mat-chip-option>01 Adulto</mat-chip-option>
          <mat-chip-option>Econômica</mat-chip-option>
        </mat-chip-listbox>
      </div>
      <div class="flex-container">

        <app-dropdown-uf [label]="'Origem'"
                        [iconePrefix]="'flight_takeoff'"
                       [control]="formBuscaService.obterControle('origem')"/>

        <button mat-icon-button>
          <mat-icon>sync_alt</mat-icon>
        </button>

        <app-dropdown-uf [label]="'Destino'"
                        [iconePrefix]="'flight_land'"
                        [control]="formBuscaService.obterControle('destino')"/>

        <mat-form-field class="input-container" appearance="outline">
          <mat-label>Data de ida</mat-label>
          <input matInput [matDatepicker]="ida">
          <mat-datepicker-toggle matIconSuffix [for]="ida"></mat-datepicker-toggle>
          <mat-datepicker #ida></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="input-container" appearance="outline">
          <mat-label>Data da volta</mat-label>
          <input matInput [matDatepicker]="volta">
          <mat-datepicker-toggle matIconSuffix [for]="volta"></mat-datepicker-toggle>
          <mat-datepicker #volta></mat-datepicker>
        </mat-form-field>
        <button mat-flat-button>Buscar</button>

      </div>
    </form>
  </app-card>
  <p>{{ formBuscaService.formBusca.value.formaViagem }}</p>
  <p>{{ formBuscaService.formBusca.value.origem }}</p>
  <p>{{ formBuscaService.formBusca.value.destino }}</p>
</app-container>
