<app-container>
  <app-card variant="secondary" class="form-busca">
    <h2>Passagens</h2>
    <form [formGroup]="formBuscaService.formBusca" (ngSubmit)="buscar()">
      <div class="flex-container">
        <mat-button-toggle-group
          aria-label="Tipo de Passagem"
          formControlName="formaViagem"
        >
          <mat-button-toggle value="IDA E VOLTA">IDA E VOLTA</mat-button-toggle>
          <mat-button-toggle value="SOMENTE IDA">SOMENTE IDA</mat-button-toggle>
        </mat-button-toggle-group>

        <mat-chip-set aria-label="Seleção de Passagens">
          @if(formBuscaService.formBusca.value.tipo == ''){
          <button type="button" mat-stroked-button style="color: black">
            Econômica
          </button>
          }@else {
          <button type="button" class="btnselecao" mat-flat-button>
            <mat-icon fontIcon="check"></mat-icon>
            {{ formBuscaService.formBusca.value.tipo }}
          </button>
          }
        </mat-chip-set>

        <mat-chip-set aria-label="Seleção de Passageiros">
          @if(formBuscaService.formBusca.value.adultos == 0){
          <button type="button" mat-stroked-button style="color: black">
            Passageiro(s)
          </button>
          }@else {
          <button type="button" class="btnselecao" mat-flat-button>
            <mat-icon fontIcon="check"></mat-icon>
            {{ formBuscaService.getDescricaoPassageiros() }}</button
          >}
        </mat-chip-set>

        <button
          type="button"
          mat-icon-button
          (click)="formBuscaService.openDialog()">
          <mat-icon>menu</mat-icon>
        </button>

      </div>
      <div class="flex-container">
        <app-dropdown-uf
          [label]="'Origem'"
          [iconePrefix]="'flight_takeoff'"
          [control]="obterControleOrigem"
          [errorValid]="false"
        />

        <button type="button" mat-icon-button>
          <mat-icon>sync_alt</mat-icon>
        </button>

        <app-dropdown-uf
          [label]="'Destino'"
          [iconePrefix]="'flight_land'"
          [control]="obterControleDestino"
        />

        <app-form-date
          titulo="Data de Ida"
          dadosTitulo="ida"
          [selecao]="'dateIda'"
          [control]="obterControleDateIda"
        />

        <app-form-date
          titulo="Data da volta"
          dadosTitulo="volta"
          selecao="dateVolta"
         [control]="obterControleDateVolta"
        />

        <button
          type="submit"
          [disabled]="!formBuscaService.formBusca.valid"
          mat-flat-button
        >
          Buscar
        </button>
      </div>
    </form>
  </app-card>
</app-container>
