<app-header />
<app-banner [srcSignal]="srcHome" [alt]="altHome"/>
<article>
  <app-container>
    <h2>Promoções</h2>
    <section class="card-wrapper">
      <app-card-busca />
      <app-card-busca />
      <app-card-busca />
      <app-card-busca />
      <app-card-busca />
      <app-card-busca />
    </section>
    <h2>Depoimentos</h2>
    <section class="card-wrapper">
      <app-card-busca />
      <app-card-busca />
      <app-card-busca />
    </section>

  </app-container>
</article>
<app-container />
<app-footer />
