<mat-form-field class="input-container" appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <mat-icon matPrefix>{{ iconePrefix }}</mat-icon>
  <input
    type="text"
    matInput
    [formControl]="control"
    [matAutocomplete]="auto"
    (focus)="focusI()"
  />
  <mat-icon matSuffix>search</mat-icon>
  <mat-autocomplete [displayWith]="displayFn" autoActiveFirstOption #auto="matAutocomplete">
    @for (option of filteredOptions | async; track option) {
    <mat-option [value]="option">{{ option.nome }}</mat-option>
    }
  </mat-autocomplete>
  @if (control.value != null && control.hasError('estadoInvalido')) {
  <mat-hint>Escolha um estado do Brasil</mat-hint>
  }
</mat-form-field>
